/client-csharp/bin/Debug/client-csharp.exe
/client-csharp/bin/Debug/client-csharp.exe.config
/client-csharp/bin/Debug/client-csharp.pdb
/client-csharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/client-csharp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/client-csharp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/client-csharp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/client-csharp/obj/Debug/client-csharp.csproj.FileListAbsolute.txt
/client-csharp/obj/Debug/client-csharp.csproj.GenerateResource.Cache
/client-csharp/obj/Debug/client-csharp.csprojResolveAssemblyReference.cache
/client-csharp/obj/Debug/client-csharp.exe
/client-csharp/obj/Debug/client-csharp.pdb
/client-csharp/obj/Debug/client_csharp.MainWindow.resources
/client-csharp/obj/Debug/client_csharp.Properties.Resources.resources
/client-csharp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/puppies.v12.suo
/server/bin/Debug/server.exe
/server/bin/Debug/server.exe.config
/server/bin/Debug/server.pdb
/server/bin/Debug/server.vshost.exe
/server/bin/Debug/server.vshost.exe.config
/server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/server/obj/Debug/server.MainWindow.resources
/server/obj/Debug/server.Properties.Resources.resources
/server/obj/Debug/server.csproj.FileListAbsolute.txt
/server/obj/Debug/server.csproj.GenerateResource.Cache
/server/obj/Debug/server.csprojResolveAssemblyReference.cache
/server/obj/Debug/server.exe
/server/obj/Debug/server.pdb
/client-csharp/bin/Debug/client-csharp.vshost.exe
/client-csharp/bin/Debug/client-csharp.vshost.exe.config
/client.v12.suo
/server.v12.suo
/server/bin/Debug/server.vshost.exe.manifest
/server/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/puppy-common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/puppy-common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/puppy-common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/puppy-common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/client-csharp/bin/Debug/puppy-common.dll
/client-csharp/bin/Debug/puppy-common.pdb
/puppy-common/bin/Debug/puppy-common.dll
/puppy-common/bin/Debug/puppy-common.pdb
/puppy-common/obj/Debug/puppy-common.dll
/puppy-common/obj/Debug/puppy-common.pdb
/server/bin/Debug/puppy-common.dll
/server/bin/Debug/puppy-common.pdb
/puppy-common/obj/Debug/puppy-common.csproj.FileListAbsolute.txt
/client-csharp/bin/Debug/client-csharp.vshost.exe.manifest
/puppy-common/obj/Debug/puppy-common.csprojResolveAssemblyReference.cache
/client-csharp/obj/Debug/build.force
/server/obj/Debug/build.force

*.mdb

client-csharp/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

client-csharp/obj/Debug/client-csharp.csproj.FilesWrittenAbsolute.txt

puppy-common/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

puppy-common/obj/Debug/puppy-common.csproj.FilesWrittenAbsolute.txt

server/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

server/obj/Debug/server.csproj.FilesWrittenAbsolute.txt
/data/imagesOut/church_alpha.png
/data/imagesOut/church_color.png
/data/imagesOut/church_composite.png
/data/imagesOut/field_alpha.png
/data/imagesOut/field_color.png
/data/imagesOut/field_composite.png
/data/imagesOut/fountain_alpha.png
/data/imagesOut/fountain_color.png
/data/imagesOut/fountain_composite.png
/data/imagesOut/hovel_alpha.png
/data/imagesOut/hovel_color.png
/data/imagesOut/hovel_composite.png
/data/imagesOut/school_alpha.png
/data/imagesOut/school_color.png
/data/imagesOut/school_composite.png
/data/imagesOut/shack_alpha.png
/data/imagesOut/shack_color.png
/data/imagesOut/shack_composite.png
/data/imagesOut/shrine_alpha.png
/data/imagesOut/shrine_color.png
/data/imagesOut/shrine_composite.png
/data/imagesOut/statue_alpha.png
/data/imagesOut/statue_color.png
/data/imagesOut/statue_composite.png
/client-csharp/bin/Release/client-csharp.exe.config
/client-csharp/bin/Release/client-csharp.vshost.exe
/client-csharp/bin/Release/client-csharp.vshost.exe.config
/client-csharp/bin/Release/client-csharp.vshost.exe.manifest
/client-csharp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/client-csharp/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/client-csharp/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/client-csharp/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/client-csharp/obj/Release/build.force
/client-csharp/obj/Release/client-csharp.csproj.FileListAbsolute.txt
/puppy-common/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/puppy-common/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/puppy-common/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/puppy-common/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/client-csharp/obj/Release/DesignTimeResolveAssemblyReferences.cache

*.csv#

*.userprefs

puppy-common/puppy-common.userprefs
