/client-csharp/bin/Debug/client-csharp.exe
/client-csharp/bin/Debug/client-csharp.exe.config
/client-csharp/bin/Debug/client-csharp.pdb
/client-csharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/client-csharp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/client-csharp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/client-csharp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/client-csharp/obj/Debug/client-csharp.csproj.FileListAbsolute.txt
/client-csharp/obj/Debug/client-csharp.csproj.GenerateResource.Cache
/client-csharp/obj/Debug/client-csharp.csprojResolveAssemblyReference.cache
/client-csharp/obj/Debug/client-csharp.exe
/client-csharp/obj/Debug/client-csharp.pdb
/client-csharp/obj/Debug/client_csharp.MainWindow.resources
/client-csharp/obj/Debug/client_csharp.Properties.Resources.resources
