#header {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}
#leftColumn {
  line-height:30px;
  background-color:#eeeeee;
  /*height:300px;*/
  width:150px;
  float:left;
  padding:5px;
}

#footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}

#sessionList {
  width:100px;
}
